.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #0f0f0f;
    border-radius: 10px;
    justify-content: space-between;
 };

.headerLeft {
    display: flex;
}

.link {
    text-decoration: none;
    color: #9445bb;
}